.addusers {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #dfe9f3 0%, #ffffff 100%);
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

/* Card */
.addusers form {
  background: #ffffff;
  width: 420px;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  border-top: 5px solid #872831;
  animation: fadeIn 0.4s ease-in-out;
}

/* Smooth Fade In */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Input Styling */
.addusers input {
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #cfd8e3;
  font-size: 15px;
  background: #f8fbff;
  transition: 0.3s;
}

.addusers input:focus {
  outline: none;
  border-color: #bd3e44;
  box-shadow: 0px 0px 8px rgba(74, 144, 226, 0.4);
  background: #ffffff;
}

/* Button */
.addusers button {
  background: linear-gradient(135deg, #bd3e44, #872831);
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}

.addusers button:hover {
  background: linear-gradient(135deg, #bd3e44, #872831);
  transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 480px) {
  .addusers form {
    width: 90%;
    padding: 30px;
  }
}

/*  */

/* Profile Icon */
.profile-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.profile-icon {
  font-size: 70px;
  color: #4a4a4a;
}