
.hotels-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 22px;
  padding: 25px;
  background: #f4f6f9;
  min-height: 100vh;
}


.hotel-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.hotel-card:hover {
  transform: translateY(-6px);
}


.hotel-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.hotel-info {
  padding: 15px;
}

.hotel-info h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #222;
}

.hotel-info p {
  margin: 4px 0;
  color: #555;
  font-size: 15px;
}


button {
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
}


button:nth-child(1) {
  background-color: #3f1594;
  color: white;
}

button:nth-child(2) {
  background-color: #ff9800;
  color: white;
}

button:nth-child(3) {
  background-color: #e53935;
  color: white;
}


.add-hotel-btn {
  padding: 10px 18px;
  background-color: #9b3533 !important;
  color: white;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 15px;
}


